@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600&display=swap");
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
/* how to use this variabile*/
/* .forms{
   @include placeholder{
    opacity: 1;color: #a5aeb7;
  } */
/* @include transition (.2s ease-out all); */
/*    @include flexbox();
    @include justify-content (center);*/
.chat-btn {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  -webkit-filter: drop-shadow(1.5px 2.598px 3.5px rgba(0, 0, 0, 0.17));
          filter: drop-shadow(1.5px 2.598px 3.5px rgba(0, 0, 0, 0.17));
  background-color: #1D63FF;
  border: 0;
  font-family: "Baloo 2", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: fixed;
  outline: 0;
  right: 20px;
  bottom: 15px;
  outline: 0 !important;
  z-index: 999999;
  padding: 10px;
  cursor: pointer;
}
.chat-btn .online {
  background-color: #00FF0A;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  right: 14px;
}
.chat-btn img {
  margin-right: 0px;
}
@media (max-width: 1199px) {
  .chat-btn {
    right: 15px;
  }
}
.chat-box-outer {
  position: fixed;
  height: 90%;
  right: 24px;
  bottom: 24px;
  max-width: 500px;
  max-height: 415px;
  border-radius: 18px 18px 12px 12px;
  width: 100%;
  background-color: #fff;
  z-index: 10010;
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-box-shadow: 4px 14px 28px rgba(0, 0, 0, 0.0705882353);
          box-shadow: 4px 14px 28px rgba(0, 0, 0, 0.0705882353);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Baloo 2", sans-serif;
  padding-bottom: 15px;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.chat-box-outer ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.chat-box-outer ::-webkit-scrollbar-track {
  background: #c8c8c8;
}
.chat-box-outer ::-webkit-scrollbar-thumb {
  background: #7a7a7a;
}
.chat-box-outer ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.chat-box-outer .chat-header {
  height: 85px;
  padding: 15px 30px;
  background-color: #1D5AFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.chat-box-outer .chat-header .h-rgt {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.chat-box-outer .chat-header .h-rgt strong {
  font-weight: 300;
  font-size: 22px;
  color: #fff;
  font-family: "Baloo 2", cursive;
}
.chat-box-outer .chat-header .h-rgt .close-btn {
  background-color: transparent;
  margin-left: auto;
  border: 0;
  outline: 0;
}
.chat-box-outer .chat-header .h-rgt .close-btn img {
  width: 25px;
}
.chat-box-outer .chat-header .avatar {
  width: 45px;
  height: 45px;
  padding: 3px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 4px solid #314B86;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}
.chat-box-outer .chat-header .avatar .online {
  background-color: #00FF0A;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  bottom: -1px;
  right: -3px;
}
.chat-box-outer .chat-header .avatar .online.offline {
  background-color: #e30117;
}
.chat-box-outer .chat-header .avatar .online.away {
  background-color: orange;
}
.chat-box-outer .chat-header .avatar img {
  width: 100%;
}
.chat-box-outer .chat-box {
  padding: 15px 28px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: auto;
  margin-bottom: auto;
  max-height: 63%;
}
.chat-box-outer .chat-box .msg-otr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.chat-box-outer .chat-box .msg-otr .otr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.chat-box-outer .chat-box .msg-otr .otr .chat-avathar {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5px;
}
.chat-box-outer .chat-box .msg-otr .otr .chat-avathar img {
  width: 25px;
}
.chat-box-outer .chat-box .msg-otr span {
  font-size: 10px;
  text-align: right;
  color: #515151;
}
.chat-box-outer .chat-box .msg-otr .msg {
  padding: 10px;
  margin-top: 15px;
  background-color: #1f61d5;
  border-radius: 8px;
  min-width: 80px;
  max-width: 255px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  margin-bottom: 0;
  color: #fff;
  word-break: break-word;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font: 300 16px/19px "Baloo 2", cursive;
}
.chat-box-outer .chat-box .msg-otr .msg p {
  margin-bottom: 0px;
}
.chat-box-outer .chat-box .msg-otr .msg span {
  margin-left: auto;
  color: #fff;
}
.chat-box-outer .client-msg {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.chat-box-outer .client-msg .otr {
  margin-left: 20%;
}
.chat-box-outer .client-msg .otr .msg {
  border-radius: 10px 0px 10px 10px;
}
.chat-box-outer .client-msg .otr .chat-avathar {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.chat-box-outer .company-msg {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.chat-box-outer .company-msg span {
  text-align: left !important;
}
.chat-box-outer .company-msg .otr {
  margin-right: 20%;
}
.chat-box-outer .company-msg .otr .msg {
  background-color: #314B86 !important;
  color: #fff;
  border-radius: 0px 10px 10px 10px;
}
.chat-box-outer .forms-chat {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
}
.chat-box-outer .forms-chat textarea {
  resize: none;
  height: 100px !important;
}
.chat-box-outer .forms-chat .btn-grp {
  text-align: right;
  margin-top: 35px;
}
.chat-box-outer .forms-chat .btn-grp .submit {
  font-family: "Baloo 2", sans-serif;
  background-color: #1f61d5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  height: 45px;
  width: 100%;
  border-radius: 6px;
  border: 0;
  outline: 0;
  -webkit-transition: 0.2s ease-out all;
  transition: 0.2s ease-out all;
}
.chat-box-outer .forms-chat .btn-grp .submit:hover {
  background-color: blue;
}
.chat-box-outer .forms-chat .error-text {
  color: #e30117;
  position: absolute;
  font-family: "Baloo 2", sans-serif;
  font-size: 13px;
}
.chat-box-outer .form-group {
  margin-bottom: 15px;
  position: relative;
}
.chat-box-outer .form-control {
  border: 1px solid #E5EDFF;
  border-radius: 28px;
  height: 55px;
  width: 100%;
  background: #F2F6FF;
  position: relative;
  padding-left: 22px;
}
.chat-box-outer label {
  font-family: "Baloo 2", sans-serif;
  color: #333;
  font-size: 13px;
  line-height: 17px;
  font-weight: 500;
  margin-bottom: 5px;
}
.chat-box-outer .tye-msg {
  margin-top: auto;
  height: 45px;
  bottom: 15px;
  z-index: 99;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
  margin-top: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 87%;
}
.chat-box-outer .tye-msg input {
  font-weight: 500;
  font-size: 18px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  padding-right: 50px;
}
.chat-box-outer .tye-msg .send-btn {
  background-color: transparent;
  border: 0;
  font-family: "Baloo 2", cursive;
  font-size: 13px;
  outline: 0;
  position: absolute;
  right: -4px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 62%;
}
@media (max-width: 1679px) {
  .chat-box-outer .chat-header .avatar {
    width: 35px;
    height: 35px;
    border-width: 3px;
  }
  .chat-btn {
    width: 60px;
    height: 60px;
  }
  .chat-box-outer .chat-header {
    height: 65px;
    padding: 15px 20px;
  }
  .chat-box-outer .chat-box {
    padding: 15px 18px 0;
    max-height: 66%;
  }
  .chat-box-outer {
    max-width: 420px;
    max-height: 365px;
  }
  .chat-box-outer .chat-box .msg-otr .msg {
    font: 300 14px/17px "Baloo 2", cursive;
  }
  .chat-box-outer .form-control {
    height: 45px;
    font-size: 17px;
  }
  .chat-box-outer .tye-msg .send-btn {
    top: 53%;
  }
  .chat-box-outer .tye-msg .send-btn img {
    width: 30px;
  }
  .chat-box-outer .tye-msg input {
    font-size: 15px;
  }
}
@media (max-width: 991px) {
  .chat-box-outer {
    max-width: 90%;
  }
}