@import "partials/_variables.scss";
.banner{
   height: calc(100vh - 90px);
   padding-top: 100px;
   padding-bottom: 100px;
   display: flex;
   align-items: center;
   .main-area{
      .col-txt{
         display: flex;
         flex-wrap: wrap;
         align-items: center;
         .banner-txt{
            .banner-title{
               font-family: $font-primary;
               color: #193674;
               font-weight: 600;
               font-size: 42px;
               line-height: 1.5;
               span{
                  font-weight: 400;
               }
            }
            .banner-desc{
               font-family: $font-primary;
               color: #5870A5;
               font-weight: 400;
               font-size: 19px;
               line-height:2;
               margin-bottom: 35px;
            }
            .btn-icon{
               padding: 10px 50px 10px 25px;
               position: relative;
               text-align: left;
               justify-content: flex-start;
               font-size: 19px;
               line-height: 2;
               font-weight: 500;
               .ico{
                  position: absolute;
                  right: 15px;
               }
            }
         }
      }
      .col-img{
         display: flex;
         align-items: center;
         justify-content: center;
         img{
            max-height: 50vh;
            height: 100%;
            object-fit: contain;
         }
      }
   }
   .col-btn{
      padding-top: 40px;
   }
}



@media(max-width:1679px){
   .banner .main-area .col-txt .banner-txt .banner-title{
      font-size: 40px;
   }
   .banner .main-area .col-txt .banner-txt .banner-desc{
      font-size: 18px;
      margin-bottom: 30px;
   }
   .banner .main-area .col-txt .banner-txt .btn-icon{
      font-size: 18px;
   }

}
@media(max-width:1440px){
   .banner .main-area .col-txt .banner-txt .banner-title{
      font-size: 35px;
   }
   .banner .main-area .col-txt .banner-txt .banner-desc{
      font-size: 17px;
      margin-bottom: 25px;
   }
   .banner .main-area .col-txt .banner-txt .btn-icon{
      font-size: 17px;
   }
}
@media(max-width:1280px){
   .banner .main-area .col-txt .banner-txt .banner-title{
      font-size: 30px;
   }
   .banner .main-area .col-txt .banner-txt .banner-desc{
      font-size: 16px;
      margin-bottom: 25px;
   }
   .banner .main-area .col-txt .banner-txt .btn-icon{
      font-size: 16px;
   }
}

@media(max-width:1199px){
.banner {
   height: auto;
   padding-top: 30px;
   padding-bottom: 30px;
}
.banner .main-area .col-img img {
   max-height: 350px;
   margin-bottom: 25px;
}
}
@media(max-width:991px){
   .banner{
      flex-wrap: wrap;
      height: auto;
   }
   .banner .main-area {
      flex-wrap: wrap;
      flex-direction: column;
   }
   .banner .main-area .col-txt{
      width: 100%;
      order: 2;
   }
   .banner .main-area .col-txt .banner-txt .banner-title{
      font-size: 28px;
   }
   .banner .main-area .col-txt .banner-txt .banner-desc{
      margin-bottom: 20px;
   }
   
}
@media(max-width:767px){
   .banner .col-btn{
      display: none;
   }
   .banner .main-area .col-txt .banner-txt .banner-title{
      font-size: 25px;
      line-height: 33px;
   }
   .banner .main-area .col-txt .banner-txt .banner-desc{
      font-size: 15px;
      margin-bottom: 15px;
      line-height: 23px;
   }
   .banner .main-area .col-txt .banner-txt .btn-icon{
      font-size: 15px;
     
   }
 
}
@media(max-width:575px){
   .banner .main-area .col-txt{
      padding: 0 25px;
   }
   .banner .main-area .col-txt .banner-txt .btn-icon {
      padding: 5px 30px 5px 20px;
      max-width: 170px;
  }
   .banner .main-area .col-img img {
      max-height: 240px;
   }
}