@import "partials/partials";

.breadcrumbs{
    padding-top: 10px;
    padding-bottom: 10px;
    ul{
        display: flex;
        gap: 10px;
        font-size: 16px;
        @media screen and (max-width: 1440px){
            font-size: 14px;
        }
        @media screen and (max-width: 1200px){
            font-size: 12px;
        }
        li{
            a{
                color: #000000;
                &.active{
                    pointer-events: none;
                    font-weight: 600;
                }
            }
            & + li{
                a{
                    &:before{
                        content: '/';
                        padding-right: 10px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}