@import "partials/partials";
.faq{
    margin-top: 150px;
    margin-bottom: 50px;
 }
.faq-acco-area{
    .accordion{
        .accordion-item{
            border: 1px solid #C4CFE8;
            border-radius: 17px !important;
            overflow: hidden;
            margin-bottom: 15px;
            .accordion-header{
                .accordion-button {
                    outline: none;
                    box-shadow: none;
                    background: #FCFDFF;
                    border: none;
                    padding: 30px 60px;
                    color: #193674;
                    font-size: 28px;
                    line-height: 45px;
                    font-weight: normal;
                    font-family: $font-primary;
                    &::after {
                        width: 20px;
                        height: 20px;
                        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%232D52A7' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e") !important;
                    }
                    &:not(.collapsed){
                        &::after {
                            background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%231D63FF' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e") !important;
                        }
                    }
                }
            }
            .accordion-body {
                color: #5870A5;
                font-size: 21px;
                line-height: 34px;
                font-weight: normal;
                font-family: $font-primary;
                padding: 20px 60px 50px;
                background: #FCFDFF;
                p{
                    color: #5870A5;
                    font-size: 21px;
                    line-height: 34px;
                    font-weight: normal;
                    font-family: $font-primary;
                }
            }
        }
    }
}


@media(max-width:1679px){
    .faq{
        margin-top: 130px;
        margin-bottom: 50px;
    }
    .faq-acco-area .accordion .accordion-item .accordion-header .accordion-button{
        font-size: 24px;
        line-height: 30px;
        padding: 30px 50px;
    }
    .faq-acco-area .accordion .accordion-item .accordion-body{
        padding: 30px 50px 50px;
    }
    .faq-acco-area .accordion .accordion-item .accordion-body p{
        font-size: 19px;
        line-height: 30px;
    }
}
@media(max-width:1440px){
    .faq{
        margin-top: 120px;
        margin-bottom: 40px;
    }
    .faq-acco-area .accordion .accordion-item .accordion-header .accordion-button{
        font-size: 22px;
        line-height: 28px;
        padding: 15px 40px;
    }
    .faq-acco-area .accordion .accordion-item .accordion-body{
        padding: 20px 40px 40px;
    }
    .faq-acco-area .accordion .accordion-item .accordion-body p{
        font-size: 18px;
        line-height: 28px;
    }
}
@media(max-width:1280px){}
@media(max-width:1199px){

    .faq {
        margin-top: 60px;
        margin-bottom: 30px;
      }
      .faq-acco-area .accordion .accordion-item .accordion-body {
        padding: 10px 40px 10px;
    }
    }
@media(max-width:991px){
    .faq{
        margin-top: 45px;
        margin-bottom: 30px;
    }
    .faq-acco-area .accordion .accordion-item .accordion-header .accordion-button{
        font-size: 22px;
        line-height: 26px;
        padding: 15px 30px;
    }
    .faq-acco-area .accordion .accordion-item .accordion-body{
        padding: 15px 30px 30px;
    }
    .faq-acco-area .accordion .accordion-item .accordion-body p{
        font-size: 17px;
    }
    .faq-acco-area .accordion .accordion-item .accordion-header .accordion-button::after{
        width: 15px;
        height: 15px;
        background-size: cover;
    }
}

@media(max-width:767px){

    .faq{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .faq-acco-area .accordion .accordion-item .accordion-header .accordion-button{
        padding: 15px 15px;
    }
    .faq-acco-area .accordion .accordion-item .accordion-body{
        padding: 15px;
    }
    .faq-acco-area .accordion .accordion-item .accordion-body p{
        font-size: 15px;
        line-height: 25px;
    }
}
@media(max-width:575px){
    .faq{
        padding-left: 15px;
        padding-right: 15px;
    }
    .faq-acco-area .accordion .accordion-item .accordion-header .accordion-button{
        font-size:17px;
        line-height: 20px;
    }
    .faq-acco-area .accordion .accordion-item .accordion-body{
        padding: 5px 15px 10px;
    }
    .faq-acco-area .accordion .accordion-item .accordion-body p {
        line-height: 23px;
    }
}