@import "partials/partials";
header{
    padding: 10px 0;
    background-color: #FAFBFF;
     
    .navbar{
        .navbar-brand{
            img{
                object-fit: contain;
                max-width: inherit;
                height: 40px;
                @media (max-width:767px){
                    height: 25px;
                } 
            }
        }
         
        .navbar-toggler{
                width: 30px;
                height: 30px;
                position: relative;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .5s ease-in-out;
                -moz-transition: .5s ease-in-out;
                -o-transition: .5s ease-in-out;
                transition: .5s ease-in-out;
                cursor: pointer;
                border: none;
            @media (max-width:991px){
                margin-left: 20px;
            }
            &:focus{
                box-shadow: none;
            }
            span {
                display: block;
                position: absolute;
                height: 3px;
                width: 100%;
                background: $color-primary;
                border-radius: 9px;
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .25s ease-in-out;
                -moz-transition: .25s ease-in-out;
                -o-transition: .25s ease-in-out;
                transition: .25s ease-in-out;
                &:nth-child(1) {
                    top: 5px;
                }
                &:nth-child(2) {
                    top: 15px;
                }
                &:nth-child(3) {
                    top: 25px;
                }
              }
            &:not(.collapsed){
                span{
                    &:nth-child(1){
                        top: 18px;
                        -webkit-transform: rotate(135deg);
                        -moz-transform: rotate(135deg);
                        -o-transform: rotate(135deg);
                        transform: rotate(135deg);
                    }
                    &:nth-child(2){
                        opacity: 0;
                        left: -60px;
                    }
                    &:nth-child(3){
                        top: 18px;
                        -webkit-transform: rotate(-135deg);
                        -moz-transform: rotate(-135deg);
                        -o-transform: rotate(-135deg);
                        transform: rotate(-135deg);
                    }
                }
            }
        }
         
        .navbar-nav{
            column-gap: 20px;
            .nav-item{
                padding: 0 6px;
            }
            .nav-link{
                transition: all ease 0.3s;
                 display: flex;
                 align-items: center;
                 line-height: 1;
                 column-gap: 8px;
                 color: #193674;
                 font-weight: 500;
                 .ico{
                    display: flex;
                    align-items: center;
                 }
                 .txt{
                    position: relative;
                    &:after{
                        display: block;
                        position: absolute;
                        height: 2px ;
                        border-radius: 1px;
                        content: '';
                        width: 100%;
                        max-width: 64px;
                        background-color: #1D63FF;
                        top: calc(100% + 10px);
                        transition: all ease-in-out 0.3s;
                        opacity: 0;
                    }
                }
                
                &.active,
                &:hover{
                    color: #1D63FF;
                    .ico{
                        img{
                            filter: invert(29%) sepia(99%) saturate(2860%) hue-rotate(216deg) brightness(100%) contrast(103%);
                        }
                    }
                    .txt{
                        &:after{
                            top: calc(100% + 5px);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    
}