@import "partials/_variables.scss";

.alternating-cols{
    .illustration{
        aspect-ratio: 1.52;
        margin-bottom: 0;
        overflow: hidden;
        border-radius: 18px;
        position: relative;
        .overlay{
            position: absolute;
            inset: 0;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #438bff66;
             
            &.playing{
                background-color: transparent;
            }
            .controls{
                width: 76px;
                height: 76px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #0000004d;
                border: 2px solid #707fb44d;
                border-radius: 100%;
                backdrop-filter: blur(2px);
                img{
                    width: 20px;
                    height: 20px;
                    object-fit: contain;
                    filter: brightness(0) invert(1);
                }
            }
        }
        img,
        video{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
            z-index: 1;
        }
    }
} 

.section-bg {
    padding: 100px 0px;
    background-color: #EFF6FF;
    .content-area{
        padding-left: 30px;
        padding-top: 15px;
        .heading{
            font-family: $font-primary;
            color: #193674;
            font-size: 32px;
            line-height: 1.5;
            margin-bottom: 10px;
            font-weight: 600;
        }
        .text-view{
            color: #5870A5;
            font-size: 19px;
            line-height: 1.5;
            font-weight: 400;
            font-family: $font-primary;
        }
        &.no-pd{
            padding-left: 15px;
            padding-right: 30px;
        }
    }
    .margin-bot{
        margin-bottom: 150px !important;
    }
}

.slider-sec{
    .title-block{
        margin-top: 150px;
        .title{
            text-align: left;
        }
        p{
            text-align: left;
        }
    }
    .slider-area{        
        .slider-col{
            width: 100%;
            .text-area {
                display: block;
                width: 100%;
                height: 470px;
                background: transparent linear-gradient(180deg, #1D63FF 0%, #134AC6 100%);
                border-radius: 33px;
                padding: 100px 50px;
               
                &.sliderOne{
                    background: transparent linear-gradient(180deg, #1D63FF 0%, #134AC6 100%);
                }
                &.sliderTwo{
                    background: transparent linear-gradient(180deg, #1C5CEA 0%, #134AC6 100%);
                }
               
                .slider-head{
                    letter-spacing: 0px;
                    color: #FFFFFF;
                    font-size: 32px;
                    line-height: 1.2;
                    font-weight: bold;
                    font-family: $font-secound;
                }
                .slider-text{
                    letter-spacing: 0px;
                    color: #FFFFFF;
                    font-size: 19px;
                    line-height: 2;
                    font-weight: 400;
                    font-family: $font-secound;
                    margin-bottom: 0px;
                }
            }
            ul.slick-dots{
                list-style: none;
                display: flex;
                justify-content: center;
                bottom: -45px;
                li {
                    width: 45px;
                    height: 4px;
                    background-color: #DCE7F7;
                    display: inline-block;
                    margin-right: 10px;
                    border-radius: 4px;
                    &.slick-active{
                        background-color: #1D63FF;
                    }
                }
            }
            .slick-list {
                padding-top: 0%!important;
                padding-bottom: 0%!important;
                padding-left: 0%!important;
                padding-right: 15%!important;
            }
            .slick-dots {
                text-align: right;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
            }
            .slick-track {
                max-width: 100%!important;
                transform: translate3d(0, 0, 0)!important;
                perspective: 100px;
            }

            .slick-slide {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                opacity: 0;
                width: 100%!important;
                transform: translate3d(0, 0, 0);
                transition: transform 1s, opacity 1s;
            }

            .slick-snext,
            .slick-sprev,
            .slick-snext2,
            .slick-sprev2{
                display: block;
            }

            .slick-current {
                opacity: 1;
                position: relative;
                display: block;
                z-index: 2;
            }

            .slick-snext {
                opacity: 1;
                transform: translate3d(15%, 0, -20px);
                z-index: 1;
                perspective: 1000px;
            }
            .slick-snext2 {
                opacity: 1;
                transform: translate3d(30%, 0, -40px);
                z-index: 0;
                perspective: 1000px;
            }
            .slick-slider .slick-arrow:nth-child(1) {
                display: none;
            }
            .slick-slider{
                .slick-arrow {
                    position: absolute;
                    right: 0px;
                    top: 50%;
                    width: 74px;
                    height: 74px;
                    background: #1D63FF;
                    border: none;
                    box-shadow: none;
                    border-radius: 50%;
                }
            }
        }
    }
}

.slider-log{
    .title-block{
        margin-top: 60px;
    }
    .log-slider{
        .slide {
            background: #EAF3FF;
            border-radius: 25px;
            padding: 50px 10px;
            margin-right: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                max-width: 170px;
            }
        }
        .slick-dots{
            bottom: -40px;
            li{
                width: 44px;
                height: 4px;
                background: #E3EFFF;
                border-radius: 4px;
                &.slick-active{
                    background-color: #1D63FF;
                }
            }
        }
    }
}


@media(max-width:1679px){
    .section-bg .content-area .heading{
        font-size: 30px;
    }
    .section-bg .content-area .text-view{
        font-size: 17px;
    }
    .section-bg .margin-bot {
        margin-bottom: 130px !important;
    }
    .slider-sec .slider-area .slider-col .text-area .slider-head{
        font-size: 30px;
    }
    .slider-sec .slider-area .slider-col .text-area .slider-text{
        font-size: 17px;
    }
    .section-bg{
        padding: 90px 0px;
    }
}
@media(max-width:1440px){
    .section-bg .content-area .heading{
        font-size: 28px;
    }
    .section-bg .content-area .text-view{
        font-size: 16px;
    }
    .section-bg .margin-bot {
        margin-bottom: 110px !important;
    }
    .slider-sec .slider-area .slider-col .text-area .slider-head{
        font-size: 28px;
    }
    .slider-sec .slider-area .slider-col .text-area .slider-text{
        font-size: 16px;
    }
    .slider-sec .title-block {
        margin-top: 120px;
    }
    .section-bg{
        padding: 80px 0px;
    }
}
@media(max-width:1280px){
    .section-bg .content-area .heading{
        font-size: 25px;
    }
    .section-bg .margin-bot {
        margin-bottom: 100px !important;
    }
    .slider-sec .slider-area .slider-col .text-area .slider-head{
        font-size: 25px;
    }
    .slider-sec .title-block {
        margin-top: 100px;
    }
    .section-bg{
        padding: 70px 0px;
    }
}


@media(max-width:1199px){
.section-bg .margin-bot {
    margin-bottom: 30px !important;
 } 
 .section-bg {
    padding: 70px 0px 30px;
}
.slider-log .title-block {
    margin-top: 40px;
}
.slider-sec .title-block {
    margin-top: 60px;
}
}

@media(max-width:991px){
    .section-bg .content-area .text-view{
        font-size: 15px;
    }
    .section-bg .margin-bot {
        margin-bottom: 20px !important;
    }
    .slider-sec .slider-area .slider-col .text-area .slider-text{
        font-size: 15px;
    }
    .slider-sec .slider-area .slider-col .text-area{
        padding: 50px 50px;
        height: auto;
    }
    .slider-sec .slider-area .slider-col .slick-slider .slick-arrow{
        width: 50px;
        height: 50px;
    }
    .section-bg .content-area{
        padding-left: 15px;
    }
    .slider-sec .title-block {
        margin-top: 20px;
    }
    .section-bg{
        padding: 60px 0px 30px;
    }
    .slider-log .title-block {
        margin-top: 30px;
    }
}
@media(max-width:767px){
    .section-bg .content-area{
        padding-top: 25px;
    }
    .section-bg .content-area .heading{
        line-height: 27px;
    }
    .slider-sec .slider-area .slider-col .slick-snext{
        transform: unset !important; 
    }
    .slider-sec .slider-area .slider-col .slick-snext2{
        transform: unset !important; 
    }
    .slider-sec .slider-area .slider-col .slick-list{
        padding-right: 15px !important;
    }
    .slider-sec .slider-area .slider-col .slick-slider .slick-arrow{
        display: none !important;
    }
    .slider-sec .slider-area .slider-col .text-area{
        padding: 30px;
        border-radius: 20px;
    }
    .slider-sec .title-block {
        margin-top: 50px;
    }
    .section-bg{
        padding: 50px 0px 30px;
    }
    .section-bg .margin-bot {
        margin-bottom: 30px !important;
    }
}
@media(max-width:575px){
    .slider-sec{
        padding-left:15px;
        padding-right:15x;
    }
    .log-slider {
        padding-left: 20px;
     
        
    }
    .slider-sec .slider-area .slider-col .text-area .slider-text{
        line-height: 23px;
    }
    .slider-sec .title-block {
        margin-top: 20px;
    }
    .slider-sec .slider-area .slider-col .text-area{
        border-radius: 15px;
    }
    .section-bg{
        padding: 30px 15px;
    }
    .section-bg .margin-bot {
        margin-bottom: 20px !important;
    }
}