@import "partials/partials";

// bs modal customized
.modal{
    .modal-xl{
        max-width: 950px;
        @media screen and (max-width: 1440px){
            max-width: 800px;
        }
        @media screen and (max-width: 991px){
            max-width: calc(100% - 100px);
            margin: auto;
        }
        @media screen and (max-width: 640px){
            max-width: calc(100% - 60px);
        }
    }
    .modal-md{
        max-width:700px;
        @media screen and (max-width: 1440px){
            max-width:600px;
        }
         
        @media screen and (max-width: 640px){
            max-width: calc(100% - 60px);
        }
    }
    .modal-content{
        border-radius: 16px;
        border: none;
    }
    .modal-header,
    .modal-body,
    .modal-footer{
        padding-left: 50px;
        padding-right: 50px;
        @media screen and (max-width: 1200px){
            padding-left: 30px;
            padding-right: 30px;
        }
        @media screen and (max-width: 991px){
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .modal-header{
        border-bottom: none;
        position: relative;
        padding-top: 40px;
        padding-right: 50px;
        @media screen and (max-width: 991px){
            padding-top: 24px;
        }
        .modal-title{
            color: #193674;
            font-size: 24px;
            @media screen and (max-width: 1440px){
                font-size: 20px;
            }
            @media screen and (max-width: 991px){
                font-size: 18px;
            }
        }
        .btn-close{
           font-size: 10px;
           opacity: 1;
            transition: all ease-in-out 0.3s;
           width: 32px;
           height: 32px;
           padding: 0;
           display: flex;
           align-items: center;
           justify-content: center;
           border: 1px solid #EFF4FF;
           border-radius: 32px;
           position: absolute;
           top: 18px;
           right: 18px;
           background-color: #EFF4FF;
           background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23193674'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;

           &:hover{
                background-color: #EDF3FF;
           }
        }
    }

    .modal-body{
        .modal-title{
            color: #193674;
        }
    }

    .answer-wrap{
        font-size: 19px;
        color: #5870A5;
        line-height: 1.45;
        padding-bottom: 30px;
        @media screen and (max-width: 1679px){
            font-size: 16px;
        }
        
         
        p{
            margin-bottom: 2em;
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }

    .delete-title{
        @media screen and (max-width: 1440px){
            font-size: 20px;
        }
        @media screen and (max-width: 991px){
            font-size: 18px;
        }
    }
   
}

.published-info{
    flex: 1;
    
}

.modal-btns{
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 30px;
    gap: 16px;
    flex: 1;
    &.deleteBtns{
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .btn{
        &-cancel,
        &-save,
        &-edit{
            max-width: 150px;
        }

        @media screen and (max-width: 991px){
            font-size: 14px;
        }
    }
}
.modal-footer{
    display: flex;
    align-items: center;
    .publ-info{
        flex: 1;
        color: #5870A5;
        font-size: 16px;
        @media screen and (max-width: 1440px){
            font-size: 14px;
        }
        .publ-title{
           font-weight: 400; 
        }
        .publ-date{
            font-weight: 500;
        }
    }
    .modal-btns{
        padding-top: 40px;
        padding-bottom: 40px;
        @media screen and (max-width: 1679px){
            padding-top: 20px;
            padding-bottom: 20px;
        }
        @media screen and (max-width: 1440px){
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
}
.modal-backdrop{
    background-color: #11204E;
    opacity: 0.1 !important;
} 